<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+user.username+'">\
			<img id="userpic" src="'+user.image+'"/>\
			<span id="username">'+user.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>

<h3 class="centerme" id="gf">Global Feed</h3>
<div id="feed">
	<% if (statuses[0]) { %>
	<div id="postsOuter">
		<div id="socket"></div>
		<% for(var i=0; i<statuses.length; i++) { %>
			<div class="post">
				<div class="timestamp"><abbr class="timeago" title="<%= new Date(statuses[i].time).toISOString() %>"></abbr></div>
				<a class="colorize" href="/users/<%= statuses[i].username %>">
					<div class="smallpic">
						<img class="smallpic_img" src="<%= statuses[i].image %>"/>
					</div>	
					<div class="smallname"><%= statuses[i].username %></div>
				</a>
				<br>
				<div class="statusbody"><%= statuses[i].body %></div>
			</div>
		<% } %>
	<% } else { %>
		<div id="noposts"> No posts at this time</div>
	<% } %>
</div>
</div>
