<% layout('layout') -%>
<% block('topbar', 
	'<div id="rightside">\
		<a id="user" href="/users/'+currentUser.username+'">\
			<img id="userpic" src="'+currentUser.image+'"/>\
			<span id="username">'+currentUser.username+'</span>\
		</a>\
		<a href="/logout" id="logout">Logout</a>\
	</div>'
) -%>

<%
if (user.username == currentUser.username) { 
	var isMe = true;
} else {
	var isMe = false;
}
%>

<aside class="centerme">
	<h1><%= user.username %></h1>
	<img id="profPic" src="<%= user.image %>">
	<% if (isMe) { %> 
    <form method="POST" action="/bio">
		<textarea style="bio" name="bio"><%= user.bio %></textarea>
		<input type="submit" value="Update">
	</form>
	<% } else { %>
		<%= user.bio %>
	<% } %>
</aside>

<article class="centerme">
	<% 
	if (isMe) { %>
		<form action="/statuses" method="POST">
			<textarea id="newstatus" name="status" placeholder="What's your status?"></textarea>
			<input type="submit" value="Post"/>
		</form>
	<% }%>

	<% 
	for (var i=statuses.length-1; i>=0; i--) { %>
		<h3><%= statuses[i].body %></h3>
	<% } %>

</article>
